/* VARIABLES */
:root {
    --color-primary: #FFFFFF;
    --color-secondary: #04B4E0;
    --color-background: #F2F7F9;
    --color-transparent: transparent;
    --color-icon: #B5B6B7;
    --color-title: #222222;
    --color-subtitle: #888;
    --color-text: #555;
}

/* ESTILOS GENERALES */
html {
    font-size: 10px;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Poppins", Helvetica, sans-serif;
    font-size: 1.5rem;
    background-color: var(--color-background);
    background-image: url("../img/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -20px -120px;
    color: var(--color-text);
    margin: 0;
    overflow: hidden;    
}

/* ESTRUCTURA PRINCIPAL */
.layout {
    position: relative;
    min-width: 30rem;
    max-width: 75%;
    height: 80vh;
    min-height: 80vh;
    margin: 10vh auto;
    display: grid;
    grid-template-areas: "aside content";
    grid-template-columns: 30% 70%;
    border-radius: 4rem;
    box-shadow: 0 0 100px -5px rgba(0, 0, 0, 0.25);
}

/* BARRA LATERAL */
.layout__aside {
    grid-area: aside;
    border-radius: 4rem 0 0 4rem;
    overflow-y: auto; /* Permitir desplazamiento vertical */
    max-height: 100%; /* Evitar que la barra lateral se desborde */
}

.aside__user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100%;
    min-width: 25rem;
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

/* Imagen de usuario */
.user-info__container-image {
    position: relative;
    display: inline-block;
    width: 12rem;
    height: 12rem;
    margin-top: 5rem;
    background-color: var(--color-primary);
    border: 3px solid var(--color-primary);
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 100px -5px rgba(0, 0, 0, 0.25);
}

/* Nombre y trabajo del usuario */
.user-info__name {
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--color-primary);
    margin-top: 2.6rem;
}

.user-info__job {
    font-size: 1.7rem;
    font-weight: 200;
    color: var(--color-primary);
}

/* Enlaces sociales */
.user-info__links {
    margin-bottom: 3.6rem;
}

.links__social {
    margin-top: 2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.social__option {
    height: 3rem;
    width: 3rem;
    font-size: 1.8rem;
    line-height: 3.2rem;
    opacity: 0.9;
    border-radius: 1rem;
    transition: all 300ms linear;
}

.social__option:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.20);
}

/* Botones */
.user-info__buttons {
    margin-top: 0.5rem;
    margin-bottom: 4rem;
}

.user-info__btn {
    padding: 1rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border: 2px solid var(--color-primary);
    border-radius: 3.2rem;
    color: var(--color-primary);
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.22);
    transition: all 200ms ease-in-out;
}

.user-info__btn:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

/* Pie de página del usuario */
.user-info__footer {
    bottom: 2rem;
    font-size: 1rem;
}

/* CONTENIDO PRINCIPAL */
.layout__content {
    grid-area: content;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: var(--color-primary);
    border-radius: 0 3rem 3rem 0;
    overflow: hidden;
}

.content__page {
    min-height: 100%;
    background-color: var(--color-primary);
    border-radius: 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;
}

.content__about{
    display: block;
    height: 100%;
    min-height: 100%;
    padding: 6rem;
    padding-right: 3rem;
    overflow: auto;
}

.content__title {
    font-size: 4.5rem;
    margin-bottom: 1rem;
}

.content__title-highlight {
    color: var(--color-secondary);
}

.content__personal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personal-info__description {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.personal-info__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.personal-info__option {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.personal-info__title {
    font-weight: bold;
}

/* NAVEGACIÓN LATERAL */
.layout__menu {
    display: block;
    position: absolute;
    top: 0;
    right: -85px;
    min-width: 10rem;
    background-color: var(--color-transparent);
}

.menu__list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    min-height: 22rem;
    padding: 2rem 0;
    margin-left: 2.5rem;
    background-color: var(--color-primary);
    box-shadow: 0 0 3rem -0.5rem rgba(0, 0, 0, 0.15);
    border-radius: 5rem;
}

.menu__option {
    display: block;
    width: 100%;
    text-align: center;
}

.menu__icon {
    color: var(--color-icon);
    font-size: 2.2rem;
    transition: color 300ms ease-in-out;
}

.menu__option:hover .menu__icon {
    color: var(--color-secondary);
}

.menu__overlay {
    position: absolute;
    right: 0;
    margin-top: -2.7rem;
    display: block;
    opacity: 0;
    padding: 0.3rem 0.8rem;
    color: var(--color-primary);
    border-radius: 3rem;
    background-color: var(--color-secondary);
    white-space: nowrap;
    transition: all 300ms ease-in-out;
}

.menu__option:hover .menu__overlay {
    opacity: 1;
    right: 100%;
}

/* Ajuste para evitar desbordamiento del contenido */
.layout__content {
    overflow: auto;
    max-height: 100%; /* Asegura que el contenido no se desborde */
}

.page__name{
    font-size: 4rem;
    color: var(--color-title);
}

.page__job{
    font-size: 1.5rem;
    color: var(--color-text);
}

.about__header{
    margin-bottom: 4.5rem;
    display: inline-block;
}

.about__title{
    font-size: 3.2rem;
    position:relative
}

.title__color{
    color: var(--color-secondary)
}

/* Información personal */
.about__personal-info{
    width: 100%;
    flex-direction: row;
    display: flex;
    margin-bottom: 5rem;
}

.personal-info__bio{
    flex-basis: 55%;
}

.personal-info__description{
    font-size: 1.5rem;
    line-height: 2.4rem;
}


.personal-info__data{
    flex-basis: 55%;
    padding: 0 1rem;
    position: relative;
    left: 3rem;
}

.personal-info__option{
    margin-bottom: 1rem;
}

.personal-info__title{
    margin-right: 0.6rem;
    color: var(--color-secondary);
    font-weight: 600;
}


/* SERVICIOS */
.about__services{
    width: 100%;
    margin-bottom: 3rem;
}

.services__header{
    display: inline-block;
    padding-right: 1.2;
    margin-bottom: 2.5rem;
    position: relative;
}

.services__title{
    font-size: 2.1rem;
}

.services__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%
}

.services__service{
    margin-bottom: 2.5rem;    
}

.service__icon .fa-solid{
    color: var(--color-secondary);
    font-size: 3.8rem;
}
